$color-primario: #4C41FF;
$color-primario-claro-1: #6c63ff;
$color-primario-claro-2: #8c85ff;
$color-primario-claro-3: #aca7ff;
$color-primario-oscuro: #262180;
$color-gris: #423E51; 
$color-gris-oscuro:#3F3D56;
$color-blanco: #ffff;
$color-primario-superClaro:#EFEEFF;
$color-rojo: #F86D70;