.btn-buscar {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.3rem;
    background-color: $color-primario;
    color: $color-blanco;
    font-weight: 600;
    border: none;
    cursor: pointer;

    &--blanco {
        background-color: $color-blanco;
        color: $color-primario;
    }

    @include responsive(phone){
        padding: 1rem 3.5rem;
        font-size: 1.1rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-gris,.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-gris,.2);
    }

    &--claro {
        background-color: $color-primario-claro-1;
        color: $color-blanco;

        &--blanco {
            background-color: $color-blanco;
            color: $color-primario;
        }

        &::after {
            background-color: $color-primario-claro-2;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }


}

