.textoPrincipal {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    @include responsive(tab-port) { // width < 900?
        width: 100%;
        text-align: center;
        order: 2;
    }
    

    &--grande {
        font-size: 7rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-gris;
        animation-name: deslizarIzquierda;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include responsive(tab-port) { // width < 900?
            font-size: 4rem;
        }
    }

    &--pequeño {
        font-size: 1.5rem;
        font-weight: 400;
        opacity: 0.8;
        animation-name: deslizarDerecha;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}